.DS_Store
node_modules
.turbo
*.log
.next
dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist
.turbo
.apps/server/prisma/client/*
apps/server/prisma/client/*
client/*
/apps/server/prisma/client/
