{
  "bracketSameLine": false,
  "semi": true,
  "bracketSpacing": true,
  "singleQuote": true,
  "useTabs": true,
  "tabWidth": 2,
  "printWidth": 120,
  "proseWrap": "always",
  "trailingComma": "all",
  "editor.formatOnSave": true
}